@model NovelSiteMVC.ViewModels.ReadViewModel
@{
    int Current = Array.IndexOf(ViewBag.ChaptersIndex, Model.Id);
}
<div class="row pb-5 pt-5">
    <div class="col-2"></div>
    <div class="col-2 text-center">
        @if (Current > 0)
        {
            <a class="btn btn-info" asp-action="Index" asp-controller="Read" asp-route-NovelName="@Model.NovelName" asp-route-ChapterId="@ViewBag.ChaptersIndex[Current - 1]">Previous</a>
        }
    </div>
    <div class="col-4 text-center">
        <a class="btn btn-info" asp-controller="Details" asp-action="Index" asp-route-id="@Model.NovelId">Return to Novel</a>
    </div>
    <div class="col-2 text-center">
        @if (Current != ViewBag.ChaptersIndex.Length - 1)
        {
            <a class="btn btn-info" asp-action="Index" asp-controller="Read" asp-route-NovelName="@Model.NovelName" asp-route-ChapterId="@ViewBag.ChaptersIndex[Current + 1]">Next</a>
        }
    </div>
    <div class="col-2"></div>
</div>

<div class="chapter">
    <div class="container">
        <div class="chapter-titel">
            <div class="chp-cont">
                <div class="name-chapter"><h2>Chapter @(Model.Number): (@Model.Title)</h2></div>
                <div class="text-opacity-75"><h4>TL: @Model.TLor | PR: @Model.PRer | QC: @Model.QCer</h4></div>                
            </div>
        </div>
    </div>
    <div id="contentArea" oncontextmenu="preventContext();" class="text-white bg-dark" style="user-select: none;">
        <object data="/Read/GetPdfFile?path=@(Model.Content)" type="application/pdf" style="width:100%;height:100vh;">
            <p>عذراً، لم يتم عرض الملف، من فضلك أخبر الدعم بمشكلتك</p>
        </object>
    </div>
</div>

<script>
    (function () {
        const size = getCookie("PreferedSize");
        if (size != null && size != "") {
            ReadingOptions("size", size);
        }

        const font = getCookie("PreferedFont");
        if (font != null && font != "") {
            ReadingOptions("font", font);
        }

        const theme = getCookie("PreferedTheme");
        if (theme != null && theme != "") {
            ReadingOptions("color", theme);
        }
    })
        ();

    function SendSize() {
        const option = document.getElementById("inputSize").value;
        ReadingOptions('size', option);
    }
    function ReadingOptions(type, option) {
        switch (type) {
            case "size":
                option = document.getElementById("inputSize").value = option;
                document.getElementById("contentArea").style.fontSize = option + "px";
                setCookie("PreferedSize", option, 365);
                break;
            case "font":
                document.getElementById("contentArea").style.fontFamily = option;
                setCookie("PreferedFont", option, 365);
                break;
            case "color":
                if (option == "dark") {
                    document.getElementById("contentArea").classList.remove("bg-light", "text-dark");
                    document.getElementById("contentArea").classList.add("bg-dark", "text-white");
                }
                else if (option == "light") {
                    document.getElementById("contentArea").classList.remove("bg-dark", "text-white");
                    document.getElementById("contentArea").classList.add("bg-light", "text-dark");
                }
                setCookie("PreferedTheme", option, 365);
                break;
        }
    }
    function preventContext() {
        document.addEventListener('contextmenu', event => {
            event.preventDefault();
        });
    }
    function setCookie(name, value, days) {
        const date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = `${name}=${value};${expires};path=/`;
    }

    function getCookie(name) {
        const decodedCookie = decodeURIComponent(document.cookie);
        const cookies = decodedCookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.indexOf(name + "=") === 0) {
                return cookie.substring(name.length + 1);
            }
        }
        return null;
    }

    function deleteCookie(name) {
        document.cookie = `${name}=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/`;
    }
</script>

<div class="row pb-5 pt-5">
    <div class="col-2"></div>
    <div class="col-2 text-center">
        @if (Current > 0)
        {
            <a class="btn btn-info" asp-action="Index" asp-controller="Read" asp-route-NovelName="@Model.NovelName" asp-route-ChapterId="@ViewBag.ChaptersIndex[Current - 1]">Previous</a>
        }
    </div>
    <div class="col-4 text-center">
        <a class="btn btn-info" asp-controller="Details" asp-action="Index" asp-route-id="@Model.NovelId">Return to Novel</a>
    </div>
    <div class="col-2 text-center">
        @if (Current != ViewBag.ChaptersIndex.Length - 1)
        {
            <a class="btn btn-info" asp-action="Index" asp-controller="Read" asp-route-NovelName="@Model.NovelName" asp-route-ChapterId="@ViewBag.ChaptersIndex[Current + 1]">Next</a>
        }
    </div>
    <div class="col-2"></div>
</div>
@section Scripts {
    <script src="~/assets/js/viwe-chapter.js"></script>
}